[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
aiohttp = "*"
appdirs = "*"
async-timeout = "*"
attrs = "*"
beautifulsoup4 = "*"
bs4 = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
chardet = "*"
discord = "*"
distlib = "*"
filelock = "*"
firebase-admin = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-cloud-core = "*"
google-cloud-firestore = "*"
google-cloud-storage = "*"
google-crc32c = "*"
google-resumable-media = "*"
googleapis-common-protos = "*"
grpcio = "*"
httplib2 = "*"
idna = "*"
jws = "*"
loader = "*"
logcc = "*"
msgpack = "*"
multidict = "*"
oauth2client = "*"
pendulum = "*"
pipenv = "*"
pony = "*"
proto-plus = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
python-dateutil = "*"
python-dotenv = "*"
python-jwt = "*"
pytz = "*"
pytzdata = "*"
requests = "*"
requests-toolbelt = "*"
rsa = "*"
six = "*"
soupsieve = "*"
termcc = "*"
terminaltables = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
websockets = "*"
wrap = "*"
wrapt = "*"
yarl = "*"
CacheControl = "*"
Deprecated = "*"
Logbook = "*"
PyJWT = "*"
oppadc = {git = "https://github.com/The-CJ/oppadc.py.git"}
aioosuapi = {git = "https://github.com/Kyuunex/aioosuapi"}

"discord.py" = "*"

[dev-packages]

[requires]
python_version = "3.9"
